<nav role="navigation" class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<!-- For logo -->
		<div class="navbar-header">
			<button type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse" class="navbar-toggle">
			<span class="sr-only">Toggle Navigation</span><span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<%= link_to "Trenders NG", root_path, class: "navbar-brand trenders-logo" %>
		</div>
		<!-- Basic menu items -->
		<div class="navbar-collapse collapse navbar-ex1-collapse">
			<!-- Pagers -->
			<ul class="nav navbar-nav">
				
			</ul>
			<!-- User area -->
			<ul class="navbar-right nav navbar-nav">
				
			</ul>
		</div>
	</div>
</nav>