<div class="jumbotron">
	<iframe src="//player.vimeo.com/video/81979873" style="width: 1200px;min-height:50%;max-height:60%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen class="img-responsive center-block"></iframe> 
</div>